<%- include("partial/header") %>


 <!-- HOME -->
     <section id="home">
        <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="home-info">
                              <h1>Blogger, learning passionate <br>Enter my space to know more!</h1>
                            
                            			<button class="btn btn-lg"><a href="/campgrounds">Enter</a></button>	
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>




  <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- GRID LINE -->
    <section class="grid">
         <div class="container">
            <div class="row">

              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="grid-line"></div>
              </div>

            </div>
         </div>
    </section>


    <div class="menu-bg"></div>
    <div class="menu-burger">☰</div>

    <div class="menu-items">
       <div class="container">
         <div class="row">
           <div class="col-md-offset-2 col-md-4 col-sm-6">
            <h1>Navigations</h1>
             <ul class="menu">
                <li><a href="https://www.linkedin.com/in/huan-ping-su/">Linkedin</a></li>
                <li><a href="https://github.com/hxs162230">GitHub</a></li>
                <li><a href="https://leetcode.com/lcfish/">Leetcode</a></li>
                <li><a href="mailto:huanpingsu123178@gmail.com">Send an Email</a></li>
            </ul>
           </div>

           <div class="col-md-4 col-sm-6">
             <address>
               <h1>I Live in</h1>
               <p>USA</p>
               <div class="google-map">
                  <iframe src="https://maps.google.com/maps?q=san%20jose&t=&z=13&ie=UTF8&iwloc=&output=embed" allowfullscreen></iframe>
               </div>
             </address>
           </div> 


           <div class="col-md-12 col-sm-12">
             <ul class="social-icon">
              <li class="line"></li>
               <li><a href="#" class="fa fa-facebook"></a></li>
               <li><a href="#" class="fa fa-twitter"></a></li>
               <li><a href="#" class="fa fa-google"></a></li>
               <li><a href="#" class="fa fa-instagram"></a></li>
             </ul>
           </div>
         </div>
       </div>
    </div>




    




     <!-- SCRIPTS -->
     <script src="/js/landing/jquery.js"></script>
     <script src="/js/landing/vegas.min.js"></script>
     <script src="/js/landing/countdown.js"></script>
     <script src="/js/landing/init.js"></script>
     <script src="/js/landing/custom.js"></script>



<%- include("partial/footer") %>